<!--app下载区-->
<div class="app-download">
    <dl class="hotline">
        <dt>全国免费咨询热线</dt>
        <dd class="tel">400-728-7289</dd>
        <dt>市场合作热线</dt>
        <dd class="maktel">021-6431-0797</dd>
        <dt>电子邮件</dt>
        <dd class="email">mkt@guanaihui.com</dd>
    </dl>
    <dl>
        <dt>关爱汇APP</dt>
        <dd><img src="//dev18.guanaihui.cn/guanaihui/css/images/app-qrcode.jpg" alt="关爱汇APP二维码"></dd>
    </dl>
    <dl>
        <dt>关爱汇微信</dt>
        <dd><img src="//dev18.guanaihui.cn/guanaihui/css/images/webchat-qrcode.jpg" alt="关爱汇APP二维码"></dd>
    </dl>
</div>