<!--头部区域-->
<div class="header">
    <div class="container">
        <div class="logo-location">
            <img src="//dev18.guaiaihui.cn/guanaihui/css/images/guanaihui-20077.png" alt="关爱汇logo">
            <a href="javascript:void(0);" data-href="../components/region.html" data-toggle="tooltip" data-placement="bottom" title="点击切换城市" class="location-handle">
                <span class="location">上海</span>
                <span class="caret"></span>
            </a>
        </div>
        <dl class="hotline">
            <dt>全国免费咨询热线</dt>
            <dd>400-728-7289</dd>
        </dl>
        <div class="searcher-container">
            <form action="">
                <ul class="searcher">
                    <li class="submit"><button type="submit" class="transparent">搜索</button></li>
                    <li class="enter"><input type="text" placeholder="输入机构名称" class="transparent" name="keyword"></li>                    
                </ul>
            </form>
        </div>
    </div>
</div>