<!--预约弹出页面-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<form class="validate">
    <div id="module-reserve">
        <div class="date">
            <h3>选择日期</h3>
            <div id="datepicker" data-date="2015/11/20">
            </div>
            <input type="hidden" id="hiddenDate" value="2015/11/20">
        </div>
        <div class="store">
            <h3>选择门店</h3>
            <!--<li class="dropdown">
                <a class="item dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false">
                    <span class="pull-right iconfont icon-xiangxia2"></span>
                    <div class="selected-label" data-id="0">
                        <h4>摩尔口腔(福州路店)</h4>
                        <p>福州路555号18楼1809室(近浙江路)</p>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li data-id="0">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)1</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                    <li data-id="1">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)2</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                    <li data-id="2">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)3</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                    <li data-id="3">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)4</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                    <li data-id="4">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)5</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                    <li data-id="5">
                        <a href="javascript:;">
                            <h4>摩尔口腔(福州路店)6</h4>
                            <p>福州路555号18楼1809室(近浙江路)</p>
                        </a>
                    </li>
                </ul>
                <input type="hidden" id="storeId" value="2">
            </li>-->
            <li>
                <h4>摩尔口腔(福州路店)</h4>
                <p>福州路555号18楼1809室(近浙江路)</p>
            </li>
            <div class="form-inline">
                <div class="row">
                    <div class="col-xs-12">
                       <!-- <div class="col-xs-6 person">
                            <span>会员</span>
                            <span>13501689923</span>
                            <span class="pull-right">预约</span>
                        </div>-->
                        <div class="col-xs-6">
                            <ul class="pnum">
                                <li>人数</li>
                                <li class="num">
                                    <input name="pnum" value="1" />
                                </li>
                                <li class="tool">
                                    <a class="add">+</a>
                                    <a class="min">-</a>
                                </li>
                        </div>
                        <div class="col-xs-6 price">
                            <p><span class="text">支付金额 : </span><span>￥</span><span class="amount">200000</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button id="btnReserve" type="button" class="btn btn-block btn-warning btn-lg">确定预约</button>
            </div>
            <div class="form-inline">
                <p class="tips">确定预定，则表示已阅读并同意关爱汇服务条款</p>
            </div>
        </div>
    </div>
    </div>
</form>
