<!--分页器-->
<div class="container page">
    <div class="outline">
        <span>1-30</span>
        <span> / 共800条</span>
    </div>
    <div class="item">
        <a href="#" class="btn btn-default btn-sm">上一页</a>
        <a href="#" class="btn btn-default btn-sm">1</a>
        <a href="#" class="btn btn-default btn-sm">2</a>
        <span>...</span>
        <a href="#" class="btn btn-default btn-sm">20</a>
        <a href="#" class="btn btn-default btn-sm">21</a>
        <a class="btn btn-default btn-sm on" href="javascript:void(0)">22</a>
        <a href="#" class="btn btn-default btn-sm">23</a>
        <a href="#" class="btn btn-default btn-sm">24</a>
        <span>...</span>
        <a href="#" class="btn btn-default btn-sm">99</a>
        <a href="#" class="btn btn-default btn-sm">100</a>
        <a href="#" class="btn btn-default btn-sm">下一页</a>
    </div>
</div>