<div class="tabs-frame">
    <p class="child-category">
        <a href="#">肛肠科</a>
        <a href="#">皮肤科</a>
        <a href="#">五官科</a>
        <a href="#">儿科</a>
        <a href="#">男科</a>
        <a href="#">妇产科</a>
        <a href="#">神经科</a>
        <a href="#">骨科</a>
        <a href="#">内分泌科</a>
    </p>                                
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>
<div class="tabs-frame">
    <p class="child-category">
        <a href="#">科室1</a>
        <a href="#">科室2</a>
        <a href="#">科室3</a>
        <a href="#">科室4</a>
        <a href="#">科室5</a>
        <a href="#">科室6</a>
        <a href="#">科室7</a>
        <a href="#">科室8</a>
        <a href="#">科室9</a>
    </p>
    <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
</div>