<!--这里开始是服务分类菜单-->
<ul class="services-category">
    <li>
        <a href="#">
            <i class="icon-24 icon-24-tjjg-white"></i>
            <span>体检机构</span>
            <div class="deputy">
                <span>年度体检</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-zkjg-white"></i>
            <span>专科机构</span>
            <div class="deputy">
                <span>男性 女性</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-mrys-white"></i>
            <span>美容养生</span>
            <div class="deputy">
                <span>SPA</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-kqhl-white"></i>
            <span>口腔护理</span>
            <div class="deputy">
                <span>换牙 洗牙</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-zxss-white"></i>
            <span>整形塑身</span>
            <div class="deputy">
                <span>整容</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-zytl-white"></i>
            <span>中医调理</span>
            <div class="deputy">
                <span>中医理疗</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-kjph-white"></i>
            <span>康健陪护</span>
            <div class="deputy">
                <span>护理 月子中心</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-24 icon-24-glyl-white"></i>
            <span>公立医疗</span>
            <div class="deputy">
                <span>三甲医院</span>
                <i class="iconfont icon-xiangyou3"></i>
            </div>
        </a>
    </li>
    <!--服务分类子菜单区域-->
    <li class="services-category-children">
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">肛肠科</a>
                <a href="#">皮肤科</a>
                <a href="#">五官科</a>
                <a href="#">儿科</a>
                <a href="#">男科</a>
                <a href="#">妇产科</a>
                <a href="#">神经科</a>
                <a href="#">骨科</a>
                <a href="#">内分泌科</a>
            </p>                                
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
        <div class="tabs-frame">
            <p class="child-category">
                <a href="#">科室1</a>
                <a href="#">科室2</a>
                <a href="#">科室3</a>
                <a href="#">科室4</a>
                <a href="#">科室5</a>
                <a href="#">科室6</a>
                <a href="#">科室7</a>
                <a href="#">科室8</a>
                <a href="#">科室9</a>
            </p>
            <p class="ads"><a href="#"><img src="http://www.atool.org/placeholder.png?size=700x230&bg=8bc93c&fg=fff"></a></p>
        </div>
    </li>
    <!--子菜单到这里结束-->
</ul>
<!--服务分类菜单到这结束-->