/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：special -> changxiang.less (畅想卡说明)
 3. 作者：yinqin@360guanai.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：variables.less (整个应用的风格变量)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
块级颜色设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
线条颜色设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体颜色设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
字体设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
尺寸设置
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：pagination.less (分页器变量)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：mixins (混合)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 背景类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 圆角类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 块级化并居中类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1.  项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：display.less(混合 -> 显示方式类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：float.less(混合 -> 浮动类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 字体类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 文本类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：www.guanaihui.com前端MVC框架
 2. 文件名称：background.less(混合 -> 三角符号类)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  background-color: #87ce2b;
}
.banner img {
  height: 977px;
  width: 100%;
}
.container {
  padding-bottom: 60px;
  margin-top: -450px;
  width: 1130px;
}
.container img {
  width: 100%;
}
