* {
	margin : 0;
	padding : 0;
}
html {
	height : 100%;
}
body {
	height : 100%;
	color : #a4a4a4;
	cursor : default;
	font-size : 11px;
	line-height : 16px;
	text-align : center;
	background-color : #FFF;
	background-position : 50% 0;
	background-repeat : no-repeat;
	font-family : "微软雅黑",Tahoma, sans-serif;
}
a:link, a:visited {
	color : #fff;
	text-decoration : none;
}
a img {
	border : 0;
}
.body-box{
	position: relative;
	width: 100%;
	min-width: 1200px;
	height: 860px;
	background: url(bg.jpg) no-repeat center;
	overflow: hidden;
}
.wrap {
	position: relative;
	width : 1200px;
	height: 100%;
	margin : 0 auto;
	overflow: hidden;
}
.logo{
	display: block;
	position: absolute;
	top: 134px;
	right: 180px;
}
#slide-holder {
	z-index : 40;
	width : 431px;
	height: 770px;
	position : absolute;
	left: 100px;
	bottom: 0px;
	background: url(ipbg.png) no-repeat;
}
#slide-holder #slide-runner {
	position: relative;
	top: 110px;
	left: 23px;
	width : 380px;
	height: 660px;
	overflow : hidden;
	border: 2px solid #CCC;
}
#slide-holder img {
	margin : 0;
	display : none;
	position : absolute;
	width: 100%;
}
#slide-controls {
	position: absolute;
	top: 260px;
	right: 0px;
	width : 555px;
	height : 200px;
	text-align: left;
	padding-top: 50px;
}
#slide-controls .text{
	display: block;
	width: 100%;
	line-height: 1.6;
	color : #fff;
	font-size : 24px;
	margin : 0;
	overflow: hidden;
	text-transform : uppercase;
}
#slide-controls .text span{
	display: block;
	font-size: 48px;
}
#slide-nav {
	display: block;
	width: 100%;
	margin : 40px 0 0;
}
#slide-nav a {
	float : left;
	width : 30px;
	height : 3px;
	display : inline;
	font-size : 11px;
	margin : 0;
	line-height : 24px;
	font-weight : bold;
	text-decoration : none;
	background-position : 0 0;
	background-repeat : no-repeat;
}
#slide-nav a.on {
	width: 50px;
	background: #FFF;
	opacity: .9;
}
#slide-nav a {
	background: #CCC;
	opacity: .3;
}
.down{
	position: absolute;
	top: 525px;
	right: 0;
	width: 550px;
	overflow: hidden;
}
.down a{
	display: block;
	float: left;
	margin-right: 95px;
	width: 180px;
}
.down a img{
	width: 100%;
}