<!--侧边栏-->
<div class="aside" data-status="open">
    <dl class="account">
        <dt><img src="//dev01.guanaihui.cn/apps/admin.guanaihui.com/css/images/default-portrait.jpg" class="img-circle"></dt>
        <dd class="role-switcher" data-toggle="tooltip" data-placement="bottom" title="切换角色">
            <span class="role">BManager</span>
            <span class="caret"></span>
        </dd>
        <dd><span>上海分站 | </span><i class="online-status"></i><span>在线</span></dd>
    </dl>
    <section data-status="open">
        <a class="parent" href="#">
            <div class="addon"><i class="iconfont icon-pingguo"></i></div>
            <div class="handle"><i></i></div>                 
            <div class="description">APP管理</div>                  
        </a>
        <div class="child">    
            <a href="#">
                <div class="addon"><i class="iconfont icon-tuiguangguanggaowei"></i></div>                   
                <div class="description">广告活动</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-guanli"></i></div>                   
                <div class="description">按钮管理</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-xiaosuolvetu"></i></div>
                <div class="description">版本管理</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-shangchuan1"></i></div>
                <div class="description">上传图片</div>
            </a> 
        </div>
    </section>
    <section data-status="open">
        <a class="parent" href="javascript:void(0);">
            <div class="addon"><i class="iconfont icon-dianpu2"></i></div>
            <div class="handle"><i></i></div>                 
            <div class="description">商户管理</div>                  
        </a>
        <div class="child">
            <a href="../shop/shop-categories.html">
                <div class="addon"><i class="iconfont icon-liebiao1"></i></div>                   
                <div class="description">商户分类管理</div>
            </a>
            <a href="../shop/pending-shops.html" class="on">
                <div class="addon"><i class="iconfont icon-dianpu2"></i></div>                   
                <div class="description">关爱汇商户管理</div>
            </a>                    
            <a href="../ads/list.html">
                <div class="addon"><i class="iconfont icon-tuiguangguanggaowei"></i></div>                   
                <div class="description">广告管理</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-lianjie"></i></div>                   
                <div class="description">预约管理</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-jiangpai"></i></div>                   
                <div class="description">商户评级管理</div>
            </a>
            <a href="../shop/check-shops.html">
                <div class="addon"><i class="iconfont icon-dianpu2"></i></div>                   
                <div class="description">关爱体检通商户管理</div>
            </a>
            <a href="check-branches-ownership.html">
                <div class="addon"><i class="iconfont icon-xifen"></i></div>                   
                <div class="description">关爱体检通门店归属</div>
            </a>
        </div>
    </section>            
    <section data-status="open">
        <a class="parent" href="#">
            <div class="addon"><i class="iconfont icon-shezhi"></i></div>
            <div class="handle"><i></i></div>                 
            <div class="description">系统设置</div>                  
        </a>
        <div class="child">    
            <a href="#">
                <div class="addon"><i class="iconfont icon-nanshangjia"></i></div>                   
                <div class="description">用户管理</div>
            </a>
            <a href="#">
                <div class="addon"><i class="iconfont icon-guanggaozhu"></i></div>                   
                <div class="description">角色管理</div>
            </a>   
        </div>
    </section>
</div>