<!--分页器-->
<div class="page">
    <div class="outline">
        <span class="dbc-case text-danger">1-30</span>
        <span> / 共 </span>
        <span class="dbc-case text-danger">800</span>
        <span> 条 </span>
    </div>
    <div class="item">
        <a href="#" class="btn btn-default btn-sm">上一页</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">1</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">2</a>
        <span>...</span>
        <a href="#" class="btn btn-default btn-sm dbc-case">20</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">21</a>
        <a class="btn btn-default btn-sm dbc-case on" href="javascript:void(0)">22</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">23</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">24</a>
        <span>...</span>
        <a href="#" class="btn btn-default btn-sm dbc-case">99</a>
        <a href="#" class="btn btn-default btn-sm dbc-case">100</a>
        <a href="#" class="btn btn-default btn-sm">下一页</a>
    </div>
</div>