/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：m.guanaihui.com前端MVC框架
 2. 文件名称：normalize.less (整个应用的通用样式定义)
 3. 作者：zhaohuagang@guanaihui.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.transparent {
    background-color : transparent ;
    border : 1px solid transparent ;
    outline : none ;
}

.dbc-case {
    font-family : @DBC-case-font-family ;
}

.simsun {
    font-family : @simsun-font-family ; 
}

.ime-disabled {
    ime-mode : disabled ;
}

.top-gap {
    margin-top : @gap-dimension ;
}

.right-gap{
    margin-right : @gap-dimension ;
}

.bottom-gap {
    margin-bottom : @gap-dimension ;
}

.left-gap{
    margin-left : @gap-dimension ;
}